<%-include("header")-%>
<h1>This app was created with the incorporation with Apple Inc.</h1> 
  <p>  Since there workers were unable to manage thier daily tasks. 
    Steve Jobs requested me to create a Web App for their Employees.</p>


<%-include("footer")-%>